<form>
 <div class="form-group">
    <label for="formGroupExampleInput">Comment</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Text your Comment">
  </div>
</form>


<hr>


<hr>
<%= link_to restaurants_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
